body{
    display: block;
    margin: 0px;
}
nav {
    background-color: #212021;
    color: #ffd165;
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    bottom: 45px;
    text-align: center;
}
#logo {
    position: relative;
    right: 690px;
    top: 50px;
    display: block;
    margin: auto;
}
a {
    color: #FFFFFF;
}
a:hover {
    color: #CDEDF6;
}
.main {
    text-align: center;
    position: relative;
    left: -250px;
    top: 180px;

}
.homeheadshot {
    display: block;
    margin: auto;
    width: 25%;
    border-radius: 8px;
    position: relative;
    bottom: 140px;
    left: 370px
    
}
.abouthead{
    display: block;
    margin: auto;
    width: 20%;
    border-radius: 8px;
    position: relative;
    right: 250px
}
.top {
    color: #f6d68a;
}
footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212021;
}
table, tr, th, td{
  width:50%;
  border: solid #212021;
  background-color: #FFFFFF;
  margin: auto;
}
th{
  background-color: #212021;
  color: #FFFFFF;
}
tr:hover {
  background-color: #a2a2a2;
}
.lifeguard, .sales, .hospitality {
    border-radius: 50%;
    height: 150px;
    
}
div{
    display: flex;
    justify-content: center;
}
.resume{
    margin:auto;
    display:block;
}
table {
    width: 75%
}
