@media screen and (max-width:600px){
    span{
        justify-content: center;
        text-align: center;
    }
}
body{
    display: block;
    margin: 0px;
    background-color: #bccace;
}
nav {
    background-color: #212021;
    color: #ffd165;
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
#logo {
    position: fixed;
    top: 0;
    left: 0;
}
   
a {
    color: #FFFFFF;
}
a:hover {
    color: #CDEDF6;
}
.main {
    text-align: center;
    position: relative;
    left: -250px;
    top: 180px;

}
.homeheadshot {
    display: block;
    margin: auto;
    width: 25%;
    border-radius: 8px;
    position: relative;
    bottom: 140px;
    left: 370px;
}
.top {
    color: #f6d68a;
}
footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212021;
}
table, tr, th, td{
  width:50%;
  border: solid #212021;
  background-color: #FFFFFF;
  margin: auto;
}
th{
  background-color: #212021;
  color: #FFFFFF;
}
tr:hover {
  background-color: #a2a2a2;
}
div.hyper{
    float: center
}
.btn {
 background-color: #212021;
  color: #f6d68a;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
.lifeguard, .sales, .hospitality {
    border-radius: 50%;
    height: 150px;
    
}
div{
    display: flex;
    justify-content: center;
}
.resume{
    margin:auto;
    display:block;
}
table {
    width: 75%
}
div.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%

}
div.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
div.container{
    padding: 2px 16px;
}
